.swal-button {
    background-color: #6288FD;
    padding: 0.5rem;
    border-radius: 4px;
    min-width: 5em;
}

.swal-title:first-child {
    margin-top: 10px;
}

.swal-title:not(:last-child) {
    margin-bottom: 6px;
}

.swal-footer {
    margin-top: 0px;
}